---
import Document from '../../layouts/Document.astro';
import BlogPostLink from '../../components/BlogPostLink.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
const postsByDate = posts.sort(
	(a, b) => new Date(b.data.publishedAt).valueOf() - new Date(a.data.publishedAt).valueOf()
);
---

<Document title="Blog / Kasper Viita" description="Assorted notes">
	<div>
		<h1 class="fade-in">Notes</h1>
		<div class="mx-0 my-[1.4rem] no-underline">
			<p>
				{`I've written ${posts.length} public notes thus far. `}
				If you&apos;re looking to read one thing, I would recommend{" "}
				<a href="/blog/switching-lanes" class="internal-link">
					<em class="hover:text-accent">this one</em>
				</a>
				.
			</p>
		</div>
		<div class="h-8 w-full" />
		<div class="mx-0 my-[1.4rem] no-underline">
			{postsByDate.map((post, index) => (
				<BlogPostLink
					title={post.data.title}
					publishedAt={post.data.publishedAt}
					lastUpdated={post.data.lastUpdated ? new Date(post.data.lastUpdated) : undefined}
					summary={post.data.summary}
					slug={post.id}
					index={index}
					amountOfPosts={posts.length}
				/>
			))}
		</div>
	</div>
</Document>
