---
import BaseHead from '../components/BaseHead.astro';
import MobileNav from "../components/MobileNav.astro";
import DesktopNav from "../components/DesktopNav.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  type?: string;
  date?: string;
}

const { title, description, image, type, date } = Astro.props;
const year = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead 
      title={title}
      description={description}
      image={image}
      type={type}
      date={date}
    />
  </head>
  <body>
    <div class="site-wrapper mx-auto mb-8 mt-0 flex min-h-screen w-full max-w-[1232px] flex-col items-center bg-background py-2 shadow-[0_0_5px_3px_rgba(0,0,0,0.45)]">
      <div class="w-full max-w-[780px] overflow-x-hidden px-6 py-0">
        <a href="#skip" class="absolute top-[-50px] text-xs">
          Skip to content
        </a>
        <DesktopNav />
        <MobileNav />
        <main id="skip">
          <slot />
        </main>
      </div>
    </div>

    <div class="mx-4 mb-4 mt-0 flex items-baseline justify-center text-grey">
      <small class="block">
        <abbr
          title="This site and all its content are licensed under a Creative Commons Attribution-NonCommercial 4.0 International License."
          style={{ cursor: "help" }}
        >
          CC BY-NC 4.0
        </abbr>{" "}
        <time>{year}</time> Kasper Viita
      </small>
    </div>
  </body>
</html>
